.add-item-form-input {
  -webkit-border-radius: 4px;
  border-radius: 2px;
  color: #202124;
  font-size: 12px;
  height: 16px;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 2px;
  z-index: 1;
}
#add-item-form-file-input {
  -webkit-border-radius: 4px;
  border-radius: 2px;
  color: #202124;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  z-index: 1;
}
#add-item-location-div {
  display: flex;
}
.add-item-field-heading {
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}
#div-container-add-item {
  background-color: white;
  margin: 0 auto;
  border: none;
}
#submitAddItem {
  font-size: 16px;
  border-radius: 4px;
  padding: 5px, 10px;
  margin-top: 15px;
}
#add-item-form-description {
  height: 80px;
  width: 100%;
  padding: auto;
}
#item-details-page-div {
  width: 50%;
  height: 100%;
  margin: 5%;
  margin-top: 2%;
  margin-left: 25%;
  padding: 30px;
  border: solid;
  border-top-width: 1px;
  border-bottom-width: 2px;
  border-right-width: 2px;
  border-left-width: 0.5px;
  border-color: rgb(153, 147, 147);
  background-color: white;
  border-radius: 4px;
}
