/* AddReview stuff */

.your-review {
  position: relative;
  margin: 0 auto;
  width: 90%;
  border-style: outset;
  border-radius: 10px;
  padding: 15px 10px 10px 10px;
}

.write-a-review {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 300;
  margin: 15px auto;
}

.review-label {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

.review-flex {
  display: flex;
}

.review-space-between {
  justify-content: space-between;
}

.review-rating {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  border-style: none;
  border-color: rgba(#000000, #000000, #000000, 0.01);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.review-star {
  font-size: 20px;
}

.review-content-input {
  width: 100%;
  min-height: 200px;
}

.review-star-container {
  padding-right: 5%;
}

.review-top-inputs {
  margin-bottom: 20px;
}

.review-title {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-style: italic;
  margin-bottom: 20px;
}

.review-rating-spacer {
  position: absolute;
  right: 20px;
}

.review-content {
  font-family: "Lato", sans-serif;
  font-size: 17px;
}

/* Review.jsx stuff */

.your-review-mini {
  position: relative;
  margin: 0 auto 10px auto;
  width: 90%;
  border-style: outset;
  border-radius: 10px;
  padding: 15px 10px 10px 10px;
  width: 600px;
}

.review-content-mini {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  margin-bottom: 15px;
  text-align: left;
}

.review-seller-link {
  text-align: right;
}
