body {
  padding: 10px;
  background-color: rgb(158, 160, 247);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

img {
  opacity: 1;
  cursor: pointer;
}

img:hover {
  opacity: 0.8;
  cursor: pointer;
}

.galleryItem:hover,
.galleryItem:focus {
  background-color: #a8c4e7;
}

.galleryItem {
  /*border-style: solid;*/
  height: 190px;
  width: 200px;
  /*overflow: hidden;*/
}

.galleryImageContainer {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 2rem auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(5, relative);
  grid-gap: 2rem;
}

.gallery__img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  border: black;
  /*border-style: solid;*/
  border-width: 3px;
}

.popover {
  color: #ffffff;
}

.panel-default > .panel-heading {
  background-color: #464545;
}
