#usernameInputLogin {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: hsl(36, 49%, 14%);
  font-size: 16px;
  height: 28px;
  margin: 1px 1px 0 1px;
  padding: 13px 15px;
  z-index: 1;
}
#passwordInputLogin {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: hsl(36, 49%, 14%);
  font-size: 16px;
  height: 28px;
  margin: 1px 1px 1px 1px;
  padding: 13px 15px;
  z-index: 1;
}
#submitLogin {
  background-color: hsla(36, 49%, 21%, 0.527);
  color: white;
  font-size: 16px;
  border-color: hsla(36, 49%, 21%, 0.527);
  border-radius: 4px;
  padding: 5px, 10px;
  margin-top: 15px;
}
.loginHeaderText {
  color: white;
  margin: 0px;
  padding: 0px;
}
#loginPageTitle {
  color: white;
  margin-bottom: 20px;
  padding: 0px;
  font-size: 25px;
}
