.navigation-bar {
  margin: auto;
  font-size: 30px;
  border-style: solid;
  border-radius: 10px;
  padding: 5px;
  padding-top: 0px;
  background: rgba(177, 145, 76, 0.658);
  color: #ffffff;
  width: 99%;
}
.ali-bae-heading {
  padding-top: 5px;
}
.above-navigation-bar {
  margin: auto;
  font-size: 13px;

  padding: 0px;
  color: hsla(36, 49%, 21%, 0.527);
  width: 99%;
}
.navigation-flex {
  display: flex;
}

.navigation-unflex {
  display: grid;
}

.navigation-bar a,
.navigation-bar span,
.navigation-bar link {
  margin: 5px;
  color: white !important;
}

.link-area {
  font-size: medium;
}

.toTheEnd {
  justify-content: end;
  margin-left: auto;
}

.searchBar {
  margin-right: 0px;
  width: 500px;
  height: 25px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-color: hsla(36, 49%, 21%, 0.527);
  margin: 0px;
}

.logoutButton {
  font-size: medium;
}

.navigation-left-right {
  display: flex;
  justify-content: space-between;
}
.just-bottom {
  align-self: flex-end;
}
#search-bar-submit {
  background-color: hsla(36, 49%, 21%, 0.527);
  color: white;
  font-size: 16px;
  border-color: hsla(36, 49%, 21%, 0.527);
  border-radius: 4px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  margin: 0px;
}
#logout-button {
  height: 17px;
  font-size: 13px;
  padding-top: 1px;
}
.top-top-bar {
  font-size: 13px;
  color: hsl(36, 49%, 21%);
}
#ali-bae-div {
  margin: 5px;
}
#signup-login {
  margin-right: 1%;
  margin-bottom: 5px;
}
#search-bar-div {
  margin: 5px;
}
#cart-img {
  padding-right: 6px;
}
