.navigation-bar {
  margin: auto;
  font-size: 30px;
  border-style: solid;
  border-radius: 10px;
  padding: 5px;
  background: rgba(177, 145, 76, 0.658);
  color: #ffffff;
  width: 99%;
}
.navigation-flex {
  display: flex;
}

.navigation-unflex {
  display: grid;
}

.navigation-bar a,
.navigation-bar span,
.navigation-bar link {
  margin: 5px;
  color: white !important;
}

.link-area {
  font-size: medium;
}

.toTheEnd {
  justify-content: end;
  margin-left: auto;
}

.searchBar {
  margin: 5px;
  width: 500px;
}

.logoutButton {
  font-size: medium;
}

.navigation-left-right {
  display: flex;
  justify-content: space-between;
}
.just-bottom {
  align-self: flex-end;
}
