* {
  box-sizing: border-box;
}

/* The grid: Four equal imgColumns that floats next to each other */
.imgColumn {
  /* float: left; */
  width: auto;
  padding: 10px;
  /* margin: auto; */
  opacity: 0.8;
  cursor: pointer;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  flex-basis: auto;
  margin-left: auto;
  margin-right: auto;
}

.imgColumn img {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}

.imgColumn:hover {
  opacity: 1;
}

/* Clear floats after the imgColumns */
.imgRow:after {
  content: "";
  display: table;
  clear: both;
}
.imgRow {
  background: linear-gradient(rgb(255, 255, 255), rgb(243, 240, 240));
  border-radius: 10px;
  -webkit-box-shadow: -4px 5px 2px 0px rgba(0, 0, 0, 0.24);
  box-shadow: -4px 5px 2px 0px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  min-width: 80%;
  max-width: fit-content;
  display: flex;
  /* justify-content: center; */
}

.tabbed-gallery-container {
  margin: auto;
  width: min-content;
  min-width: 50%;
  max-width: 80%;
  padding: 10px;
}

/* The expanding image container */
.expandedImgContainer {
  display: flex visible;
  margin: auto;
  width: 80%;
  background: linear-gradient(rgb(243, 240, 240), rgb(255, 255, 255));
  -webkit-box-shadow: -4px 5px 2px 0px rgba(0, 0, 0, 0.24);
  box-shadow: -4px 5px 2px 0px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  z-index: 2;
}

#expandedImg {
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  max-height: 500px;
  max-width: 100%;

  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: relative;
  top: 10px;
  left: 15px;
  color: lavender;
  font-size: 35px;
  cursor: pointer;
  z-index: 5;
  color: black;
}

.closebtn:hover {
  opacity: 0.5;
  cursor: pointer;
  /*background-color: #2b333b;*/
}

#scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}
