body {
  background-color: white;
  margin: 0;
  padding: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: black;
}

.standard-container {
  border-style: outset;
  border-radius: 10px;
  width: fit-content;
  padding: 0px 10px 10px 10px;
  margin: 20px 0px 20px 0px;
}

a {
  text-decoration: none;
  color: black;
}
