body {
  background-color: white;
  margin: 0;
  padding: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: black;
}

.standard-container {
  border-style: outset;
  border-radius: 10px;
  width: fit-content;
  padding: 0px 10px 10px 10px;
  margin: 20px 0px 20px 0px;
}

a {
  text-decoration: none;
  color: black;
}

button {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: hsl(0, 0%, 54%);
  overflow: hidden;
  transition: color 0.4s ease-in-out;
  border-radius: 10px;
  margin: 5px;
}

button::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #ffbb3c;
  transform-origin: center;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.45s ease-in-out;
}

button:hover {
  cursor: pointer;
  color: #161616;
}

button:hover::before {
  transform: translate(-50%, -50%) scale(15);
}
